.react-calendar {
  width: 356px;
  background-color: #000;
  border-radius: 25px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(19, 19, 19, 0.5),
    -3px -3px 10px rgba(19, 19, 19, 0.5);
}

.schedule-w-356 {
  width: 356px !important;
}

.react-calendar__navigation {
  background-color: #18181b;
  border-radius: 25px 25px 0 0;
  padding: 0.5rem 15px;
  display: flex;
  align-items: center;
  color: #a1a1aa;
}

.react-calendar__navigation button {
  color: #a1a1aa;
}

.react-calendar__navigation__label,
.react-calendar__navigation__label:hover,
.react-calendar__navigation__label:active,
.react-calendar__navigation__label:focus {
  border: none;
  outline: none;
  background-color: transparent;
  flex-grow: unset !important;
  margin: 0 auto;
}

.react-calendar__navigation__arrow {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  color: #71717a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__month-view__weekdays {
  background-color: #18181b;
  padding: 0 15px;
  color: #71717a;
}

.react-calendar__month-view__weekdays__weekday abbr {
  cursor: default !important;
  text-decoration: none !important;
}

.react-calendar__month-view__days {
  padding: 15px;
  color: #71717a;
  margin-left: 3px;
  display: grid !important;
  grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
}

.react-calendar__month-view__days button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.react-calendar__month-view__days button:disabled,
.react-calendar__month-view__days button[disabled] {
  border: none;
  cursor: auto;
  background-color: transparent;
  color: #4d4d4d;
}

.react-calendar__year-view__months,
.react-calendar__decade-view__years,
.react-calendar__century-view {
  padding: 15px;
}

.react-calendar__year-view__months button,
.react-calendar__decade-view__years button,
.react-calendar__century-view button {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.react-calendar__year-view__months button:not([disabled]),
.react-calendar__decade-view__years button:not([disabled]),
.react-calendar__century-view button:not([disabled]) {
  color: #c5c5ca;
}

.react-calendar__year-view__months button[disabled],
.react-calendar__year-view__months button:disabled,
.react-calendar__decade-view__years button[disabled],
.react-calendar__decade-view__years button:disabled,
.react-calendar__century-view button[disabled],
.react-calendar__century-view button:disabled {
  border: none;
  outline: none;
  cursor: default;
}

.react-calendar__century-view button {
  font-size: 0.75rem;
}

.show-times-container {
  width: 356px;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 3px 3px 10px rgba(19, 19, 19, 0.5),
    -3px -3px 10px rgba(19, 19, 19, 0.5);
  overflow: hidden;
}

.show-times-container button {
  max-width: fit-content;
  border-radius: 25px;
}

.show-times-container button {
  transition: background-color 200ms ease-in-out;
}

.show-times {
  margin: 0;
  padding: 20px;
  /* background-color: #222222; */
  background-color: #000;
  border-top: 1px solid #18181b;
}

.schedule-form {
  padding: 10px;
  color: #a1a1aa;
  background-color: #000;
  font-size: 1rem;
  /* background-color: #222222; */
  /* border-top: 1px solid #18181b; */
}

.show-times-title {
  color: #a1a1aa;
  background-color: #18181b;
  border-radius: 10px 10px 0 0;
  font-size: 1rem;
  font-weight: 500;
  padding: 15px;
  /* border-bottom: 1px solid #282828; */
}

.show-times-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  justify-self: center;
  gap: 10px;
}

.show-times-grid li {
  grid-column: span 2;
}

.show-times-grid li:nth-last-child(1):nth-child(odd) {
  grid-column: 2 / span 2;
}

.show-times-grid button {
  font-size: 0.75rem;
  white-space: nowrap;
}

.schedule-form-submit button,
.schedule-form-submit button:focus,
.schedule-form-submit button:active {
  padding: 0;
  background-color: transparent;
  border: none;
  color: #a1a1aa;
}

.schedule-form-submit button:disabled {
  color: #505056 !important;
}

@media (max-width: 415px) {
  .schedule-w-356,
  .react-calendar {
    max-width: 100% !important;
  }

  .container {
    padding: 0px !important;
  }

  h1 {
    font-size: 1.5rem !important;
  }

  body div .col {
    font-size: 0.8rem;
  }

  .col-auto button {
    font-size: 0.8rem !important;
    padding: 8px;
    width: fit-content !important;
  }
}

@media (max-width: 430px) {
  .schedule-w-356,
  .react-calendar {
    max-width: 100% !important;
  }

  .container {
    padding: 0px !important;
  }

  h1 {
    font-size: 1.5rem !important;
  }

  body div .col {
    font-size: 0.9rem;
  }

  .col-auto button {
    font-size: 0.9rem !important;
    padding: 8px;
    width: fit-content !important;
  }
}
